html {
    background-color: black;
    text-align: center; /*  <-- Will this align everything on the page?*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1 {
    /*font-family:Verdana, Geneva, Tahoma, sans-serif;    <-- specified in HTML{} element*/ 
    font-weight: normal;
    font-size: 50px;
    /*color: white;      <-- specified in HTML{} element*/ 
    /*text-align: center;*/
}

a {
    color: aquamarine;
    font-size: 16px;
}

h2 {
    /*font-family:Verdana, Geneva, Tahoma, sans-serif;    <-- specified in HTML{} element*/
    font-weight: 300;
    font-size: 42px;
}

#description {
    /*font-family:Verdana, Geneva, Tahoma, sans-serif;    <-- specified in HTML{} element*/
    font-size: 21px;
    color: gray;
}

#copyright {
    color: gray;
    text-align: right;
}
